@charset "UTF-8";
#comment-list-box .list-box-content {
  width: 390px;
  height: 310px;
  position: fixed;
  left: 40px;
  bottom: 80px;
  overflow: hidden;
  -webkit-transition:transform .3s ease;
  transition:transform .3s ease;
}

#comment-list-box .list-box-content * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#comment-list-box .list-box-content > ul {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#comment-list-box .list-box-content > ul li {
  background-color: rgba(29, 40, 64, 1);
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  padding: 10px 14px;
  border-radius: 4px;
  margin-bottom: 6px;
}

#comment-list-box .list-box-content > ul li .line-3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

#comment-list-box .list-box-content > ul li .blue {
  color: #0084FF;
}

#comment-list-box .list-box-content > ul li .person_name {
  color: #FAAF43;
}


#comment-list-box .list-box-content > ul li .grey {
  color: #FFFFFF;
}

#comment-list-box .list-box-content .comment-input {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(29, 40, 64, 0.8);
  /* padding:0 14px; */
  padding-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comment-list-box .list-box-content .comment-input:hover {
  background-color: rgba(29, 40, 64, 1);
}
#comment-list-box .list-box-content .comment-input .comment-pip{
  display: flex;
  align-items: center;
  margin-left: 14px;
}
#comment-list-box .list-box-content .comment-input .comment-pip>input[type="checkbox"]{
  position: absolute;
  clip: rect(0,0,0,0);
}
#comment-list-box .list-box-content .comment-input .comment-pip .checkbox{
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 6px;
  cursor: pointer;
  background: url(../images/checkbox-unchecked.png) center no-repeat;
  background-size: 100% 100%;
}
#comment-list-box .list-box-content .comment-input .comment-pip>input[type="checkbox"]:checked+.checkbox{
  background: url(../images/checkbox-checked.png) center no-repeat;
  background-size: 100% 100%;
}
#comment-list-box .list-box-content .comment-input .comment-pip>span{
  font-size: 14px;
  color: #A8ACB3;
  min-width: 44px;
  margin-bottom: 1px;
  white-space: nowrap;
  width: max-content;
}
#comment-list-box .list-box-content .comment-input > input {
  width: 68px;
  font-size: 14px;
  border: none;
  outline: none;
  margin-left: 14px;
  background-color: transparent;
  caret-color: #fff;
  color: #fff;
  -webkit-transition: .3s width ease;
  transition: .3s width ease;
}

/* #comment-list-box .list-box-content .comment-input > input:focus {
  width: 237px;
} */

#comment-list-box .list-box-content .comment-input > input::-webkit-input-placeholder {
  /* WebKit browsers，webkit内核浏览器 */
  color: #A8ACB3;
}

#comment-list-box .list-box-content .comment-input > input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A8ACB3;
}

#comment-list-box .list-box-content .comment-input > input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A8ACB3;
}

#comment-list-box .list-box-content .comment-input > input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #A8ACB3;
}
#comment-list-box .list-box-content .comment-input .comment-pip .cut-one {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color:#25282E; */
  margin-left: 8px;
}
#comment-list-box .list-box-content .comment-input .cut {
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color:#25282E; */
  margin-right: 10px;
  margin-left: 14px;
}

#comment-list-box .list-box-content .comment-input .hide-list-box {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../images/white-arrow.png) center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#comment-list-box .list-box-hide {
  position: fixed;
  left: 0px;
  bottom: 80px;
  width: 36px;
  height: 36px;
  background-color: rgba(38, 51, 77, 0.8);
  border-radius: 0px 4px 4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
#comment-list-box .list-box-hide:hover {
  background-color: rgba(38, 51, 77, 1);
}

#comment-list-box .list-box-hide > i {
  width: 18px;
  height: 14px;
  display: inline-block;
  background: url(../images/list.svg) center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
#comment-list-box .list-box-hide:hover > i {
  background: url(../images/list-hover.svg) center no-repeat;
  background-size: 100% 100%;
}

#comment-list-box .left-hide {
  -webkit-transform: translateX(-600%);
          transform: translateX(-600%);
}

/* 2022-1-21 */
.voice_btn, .video_btn, .share_btn, .annotation_btn{
  position: relative;
  min-width: 44px;
}
.arrow_down {
  width: 16px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -3px;
}

.arrow_down:hover {
  background: var(--cxkt-dark-color-global-bg-4,#313E59);
}

.arrow_down::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  display: block;
  top: 10px;
  left: 50%;
  margin-left: -5px;
  background: url(../images/icon_control_more.png) no-repeat;
  background-size: 10px auto;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.arrow_down_reverse::after {
  /* -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg); */
}

.checkout_mike {
  padding: 10px 10px 0 16px;
  background: var(--cxkt-dark-color-global-bg-2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  text-align: left;
  border-radius: 8px;
  z-index: 999;
  min-width: 132px;
}

.checkout_mike::after {
  content: "";
  position: absolute;
  left: 55px;
  top: -12px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 5px solid rgba(37, 40, 46, 0.9);
}

.checkout_mike > h2 {
  font-size: 14px;
  line-height: 18px;
  color: #9E9EA1;
  margin-bottom: 4px;
}

.checkout_mike > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.checkout_mike > ul li {
  height: 32px;
  line-height: 32px;
  position: relative;
  padding: 0 40px 0 20px;
}

.checkout_mike > ul li p {
  font-size: 14px;
  color: #EAEAEC;
  text-align: left;
  line-height: 32px;
}

.checkout_mike > ul .cur {
  background: url(../images/icon_setting.png) left center no-repeat;
  background-size: 14px auto;
}
/*# sourceMappingURL=commentList.css.map */
.openRight {
  display: none;
  position: fixed;
  z-index: 800;
  top: 110px;
  right: 0px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 11px;
  background: rgba(38, 51, 77, 0.8);
  border-radius: 50% 0 0 50%;
  cursor: pointer;
}
.openRight:hover {
  background:rgba(38, 51, 77, 1)
}

.openRight .left {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/packUp.svg) no-repeat;
  background-size: 12px auto;
}
.openRight:hover .left {
  background: url(../images/packUp-hover.svg) no-repeat;
  background-size: 12px auto;
}