* {
  box-sizing: border-box;
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 14px 0;
  border-radius: 12px;
}

main>h2 {
  font-size: 16px;
  color: #131B26;
  font-weight: 600;
}

main>p {
  font-size: 14px;
  color: #474C59;
  margin-top: 10px;
  width: 224px;
  text-align: center;
}

main .check-tips {
  font-size: 12px;
  color: #F33131;
  margin-top: 4px;
  opacity: 0;
}

main .password {
  border: 1px solid #D4D6D9;
  border-radius: 4px;
  padding: 7px 14px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

main .password>input {
  cursor: auto;
  font-size: 14px;
}

main .password>img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* main.error .password{
  border:1px solid #F36161;
} */
main.error .check-tips {
  opacity: 1;
}

footer {
  border-top: 1px solid #F2F2F2;
  padding: 17px;
  display: flex;
  justify-content: center;
}

footer>button {
  border: 1px solid rgba(26, 121, 255, 0.5);
  padding: 8px 32px;
  border-radius: 4px;
  font-size: 14px;
  color: #1A79FF;
  background-color: #fff;
  cursor: pointer;
  transition: 100ms all cubic-bezier(.19, .68, .87, .36);
}

footer>button.cancel {
  margin-right: 20px;
}

footer>button.confirm {
  border: 1px solid #1A79FF;
  background-color: #1A79FF;
  color: #fff;
}

footer>button.disabled {
  background: #F7F8FA;
  border: 1px solid #F2F2F2;
  color: #D4D6D9;
  pointer-events: none;
}