* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
menu,
dir,
li {
  list-style: none
}

b,
i,
strong,
em {
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 12px;

  -webkit-app-region: drag;
}

a {
  text-decoration: none
}

a,
img,
div,
span,
nav,
li {
  -webkit-tap-highlight-color: transparent
}

body {
  height: 100vh;
}

a:focus {
  outline: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}

.pop_overs {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(38, 45, 59, 1);
  /* box-shadow: 0px 3px 10px 0px rgba(32, 35, 60, 0.23);
  border: 1px solid #e2e2e2; */
  border-radius: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 24px 20px;
  /* display: none; */
}

.pop_overs .textwaring {
  min-height: 50px;
  line-height: 20px;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  /* padding-left: 28px; */
}

.pop_overs .textwaring::before {
  /* content: ""; */
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/warnicon.png) no-repeat;
  background-size: 18px auto;
  display: block;
}

.pop_overs .textwaring .content-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.pop_overs .textwaring_lib {
  /* width: 302px; */
  min-height: 22px;
  line-height: 22px;
}

.buttonsArr {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.buttonsArr a {
  min-width: 72px;
  height: 32px;
  display: block;
  margin-left: 24px;
  padding: 0 16px;
  text-align: center;
  line-height: 32px;
  color: #F8F9FA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  -webkit-app-region: no-drag;
  border: 1px solid #595D68;
  border-radius: 4px;
}

/* 鼠标悬停在选择按钮上 */
.buttonsArr a:hover {
  border-color: rgba(133, 138, 152, 1);
  background-color: rgba(80, 84, 93, 1);
}

.buttonsArr a.white:hover {
  border-color: rgba(133, 138, 152, 1);
  background-color: #ffffff;
}

.buttonsArr a:active {
  color: rgba(248, 249, 250, .6);
}

.buttonsArr a:active {
  background-color: rgba(72, 77, 87, 1);
  border-color: rgba(133, 138, 152, 1);
}

.buttonsArr a.leave,
.buttonsArr a.trus {
  color: #FFF;
}

.buttonsArr a.leave,
.buttonsArr a.trus {
  background-color: #FF4938;
  border-color: #FF4938;
}

.buttonsArr a.leave:hover,
.buttonsArr a.trus:hover {
  background-color: #FF8277;
  border-color: #FF8277;
}

.buttonsArr a.leave:active,
.buttonsArr a.trus:active {
  color: rgba(255, 255, 255, .6);
}

.buttonsArr a.leave:active,
.buttonsArr a.trus:active {
  background-color: #BD5046;
  border-color: #BD5046;
}

.buttonsArr .ok,
.buttonsArr .remove {
  background: #0084FF;
  color: #FFF;
  border-radius: 4px;
}

.buttonsArr .ok,
.buttonsArr .remove {
    border: none;
}

.buttonsArr .ok:hover,
.buttonsArr .remove:hover {
  background: #2E9AFF;
}

.buttonsArr .ok:active,
.buttonsArr .remove:active {
  background: #1077D7;
  color: rgba(255, 255, 255, .6);
}

.exitCourseAndChat1 {
  line-height: 32px;
  float: left;
  font-size: 12px;
  color: #FFF;
  cursor: pointer;
  -webkit-app-region: no-drag;
  display: none;
}

.exitCourseAndChat1 i {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
  background: url(../images/icon_chose_check.png) no-repeat;
  background-size: auto 18px;
  cursor: pointer;
}

.exitCourseAndChat1.checked i {
  background-position: -18px 0;
}