@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

body {
    font: 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

i,
em {
    font-style: normal;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px;
}

img {
    border: 0px;
}


.p-wrap {
    width: 410px;
    height: 135px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding: 42px 32px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    -webkit-app-region: drag;
}

.p-wrap * {
    box-sizing: border-box;
}

.p-wrap .p-close {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/icon_close2.png) center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.p-wrap .logo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.p-wrap .logo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.p-wrap .progress-box {
    margin-bottom: 5px;
    margin-left: 22px;
    width: 100%;
}

.p-wrap .progress-box .bar {
    height: 12px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.p-wrap .progress-box .bar .duration {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #EBF0F5;
    position: absolute;
    top: 0;
    left: 0;
}

.p-wrap .progress-box .bar .current {
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background-color: #1677FF;
    position: absolute;
    top: 0;
    left: 0;
}

.p-wrap .progress-box>p {
    font-size: 12px;
    color: #8A8B99;
    -webkit-app-region: no-drag;
}

.p-wrap .progress-box>p>span {
    color: #00b268;
    cursor: pointer;
}

.p-wrap .progress-box>p>span.blue {
    color: #3a8bff;
}