@charset "utf-8";
/* CSS Document */


.maskLayer{width:100%;height:100%;filter:alpha(opacity=20);opacity:0.2;background:#000;position:absolute;z-index:996;top:0;left:0;display:none;}
.popVersion{ position:fixed; z-index:999; width:480px; background:#FFFFFF; border-radius:8px;}
.popVersion_close{ position:absolute; right:20px; top:20px; width:20px; height:20px; background:url(../images/ico-popVersion-close.png) no-repeat;}
.popVersion_h2{ padding:20px 0; height:30px; line-height:30px; font-size:18px; color:#333333; font-weight:600; text-align:center;}
.popVersion_text{ margin:0 20px; line-height:24px; padding-bottom:20px; font-size:14px; color:#333333;}
.popVersion_screll{ margin:0 20px 20px; height:150px; background:#F7F7F7;}
.popVersion_list{ padding:12px 20px 12px 12px; line-height:24px; font-size:14px; color:#555555;}
.popVersion_bottom{ width:100%; padding-bottom:20px; display:table; text-align:center;}
.popVersion_blue,.popVersion_white{ margin:0 10px; min-width:70px; padding:0 14px; height:34px; line-height:34px; font-size:14px; border:solid #5078FF 1px; border-radius:4px; display:inline-block; vertical-align:top; text-align:center;}
.popVersion_blue{ background:#5078FF; color:#FFFFFF}
.popVersion_white{ background:#FFFFFF; color:#5078FF;}

.popUpdate{ padding:30px;}
.popUpdate_one{ line-height:24px; font-size:16px; color:#333333;}
.popUpdate_two{ line-height:24px; font-size:14px; color:#555555; margin-top:4px;}
.popUpdate_two:before{ content:''; width:18px; height:18px; margin:-3px 5px 0 0; background:url(../images/ico-popVersion-time.png) no-repeat center center; display:inline-block; vertical-align:middle;}
.popUpdate_complete:before{ background:url(../images/ico-popVersion-yes.png) no-repeat center center;}
.popUpdate_three{ height:14px; padding:12px 0;}
.popUpdate_progress{ position:relative; height:14px; background:#DEE1EC; border-radius:14px;}
.popUpdate_progress_bar{ position:absolute; left:0; top:0; width:0; max-width:100%; height:14px; background:#5078FF; text-align:right; -webkit-transition:all .3s; transition:all .3s; border-radius:14px;}
.popUpdate_progress_text{ height:14px; line-height:14px; font-size:12px; position:static; padding:0 10px; color:#ffffff;}
.popUpdate_four{ line-height:24px; font-size:14px; color:#555555;}
.popUpdate_four .colorRed{ margin-left:20px; color:#E75555;}

.popVersion_dangqian{ padding:32px; padding-top:40px; line-height:24px; font-size:16px; color:#333333; text-align:center;}
    
.popVersion_cuowu{ padding:24px; line-height:24px; font-size:16px; color:#333333; text-align:center;}
.popVersion_cuowu:before{ content:''; display:block; width:50px; height:50px; margin:0 auto 6px; background:url(../images/ico-popVersion-cuowu.png) no-repeat;}

.popVersion_logding{ padding:24px; line-height:24px; font-size:16px; color:#333333; text-align:center;}
.popVersion_logding:before{ content:''; display:block; width:50px; height:50px; margin:0 auto 6px; background:url(../images/ico-popVersion-logding.png) no-repeat;}
.popVersion_logding:before{ -webkit-animation:actBox 2s linear infinite; animation:actBox 2s linear infinite;}

@-webkit-keyframes actBox{
	form{transform: rotate(0deg)}
	to{transform: rotate(-360deg)}
}
@keyframes actBox{
	form{transform: rotate(0deg)}
	to{transform: rotate(-360deg)}
}


















